@media only screen and (max-width: 940px) {
    #introduction {
        flex-direction: column;
    }
}
@media only screen and (max-width: 748px){
    .service-card {
        flex-direction: column;
    }
    .card {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 578px) {
    .herotext {
        font-size: 3em;
        padding-top: 20%;
        text-align: center;
        margin: 0;
    }
    #hero h5 {
        text-align: center;
        padding-top: 10%;
    }
    #explore {
        display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     
    }
    #introduction h1 {
        font-size: 3em;
        margin-bottom: 20px;
        margin-right: 0px;
    }
    #introduction p {
        font-size: 1em;
    }
    .intro-box {
        padding: 20px;
    }
    .card {
        margin: 0 -20px 30px -20px;
    }
    .card p  {
        margin-top: 30px;
        font-size: 13px;
    
    }
    .card h2 {
        font-size: 17px;
    }
    .card img {
        width: 8em;
    }
}
@media only screen and (max-width: 458px) {
    .herotext {
        font-size: 45px;
        padding-top: 40%;
        text-align: center;
    }
    #hero h5 {
        text-align: center;
    }
    #brands h1 {
        font-size: 3em;
    }
    .container img {
        height: 55px;
    }
}
@media only screen and (max-width: 350px) {
    .herotext {
        font-size: 35px;
        padding-top: 50%;
        text-align: center;
        margin: 0;
    }
    #hero h5 {
        text-align: center;
        padding-top: 10%;
    }
    #introduction h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    #introduction p {
        font-size: 0.9em;
    }
    
}